@model Castalia.WEB.Models.CourseListViewModel

@{
    ViewBag.Title = "TeacherView";
}

<h2>Register new teacher</h2>

@using (Html.BeginForm("AddTeacher", "Admin", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Enter name of the new teacher</label>
        <input type="text" class="form-control" name="teacherName" id="inputDefault">
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Add teacher </button>
        </div>
    </div>
}
    <script type="text/javascript">
        $('#loadViewButton').on('click', function () {
            $.ajax({
                type: "GET",
url: '/YourController/YourAction',
                success: function (data, textStatus, jqXHR) {
                    $('#partialViewContainer').html(data);
                }
            });
        });
    </script>
<div>


    <h4>Courses without teacher</h4>
    <hr />
    @foreach (var course in Model.Courses)
    {
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Topic:  @course.Topic.TopicName</div>
            <div class="card-body">
                <h4 class="card-title"> @course.CourseName</h4>
                Appoint teacher:
              
                @foreach (var teacher in Model.Teachers)
                {
                    <p class="card-text">@Html.ActionLink(teacher.TeacherName, "AppointTeacher", new { id = course.Id, teacherId = teacher.Id }) </p>
                }
            </div>
        </div>
    }
</div>
<p>

    @Html.ActionLink("Back to all courses", "Index")
</p>
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("TeacherView",
   new { page = x }))
</div>
