@using Castalia.WEB.Heplers
@model Castalia.WEB.Models.CourseListViewModel

@{
    ViewBag.Title = "TeacherView";
}

@{
    ViewBag.Title = "Courses";
}
<div class="secondaryContainer">

    <h2>Register new teacher</h2>

    @using (Html.BeginForm("AddTeacher", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Enter name of the new teacher</label>
            <input type="text" class="form-control" name="teacherName" id="inputDefault">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Add teacher </button>
            </div>
        </div>
    }

    <div>
        <hr />
        <h4>Courses without teacher</h4>
        @foreach (var course in Model.Courses)
        {
            <section class="card border-primary mb-3" style="max-width: 20rem;">
                <header class="card-header">Topic:  @course.Topic.TopicName</header>
                <div class="card-body">
                    <h4 class="card-title"> @course.CourseName</h4>

                    <div id=@course.CourseName>
                        @Ajax.ActionLink("Appoint teacher", "TeacherListPartial", "Teacher", new { Id= course.Id },
                 new AjaxOptions { HttpMethod = "GET", UpdateTargetId = @course.CourseName, InsertionMode = InsertionMode.Replace }
                 , new { @class = "btn btn-block btn-info btn-lg custom" })
                    </div>

                </div>
            </section>
        }
    </div>
</div>
    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("TeacherAppointView",
       new { page = x }))
    </div>
