<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            <img src="~/Content/Pictures/brain.png" width="100"  class="d-inline-block align-top" alt="">
            @Html.ActionLink("Castalia", "SelectionByTopic", "Home", new { area = "" }, new { @class = "navbar-brand " })
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    @Html.ActionLink("Courses", "SelectionByTopic", "Home", null, new { @class = "btn btn-block btn-info btn-lg custom" })
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div id="mainContainer" class="container container-fluid jumbotron">
        <div class="row">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            <main class="col-sm-9">
                @RenderBody()
            </main>
            <div class="col-sm-3 " style="background-color:aquamarine">
                <br />
                @Html.Partial("Navigation")

                @if (ViewBag.Title == "Courses")
                {
                    <h3>Course selection:</h3>
                    <h4>By Topic</h4>
                    @Html.Action("MenuTopic", "Nav")
                    <h4>By Teacher</h4>
                    @Html.Action("MenuTeacher", "Nav")
                }
            </div>
        </div>

    </div>
    <hr />
    <footer id="footer" class="card-footer ">
        <div class="row">

            <div class="offset-2">
                <p>&copy; @DateTime.Now.Year - Nikolay Butkevich</p>
            </div>
            <a class="offset-6" href="#">Back to top</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

